.navigation {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    background-color: #6bb3b3;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    
    
  
    .logo-container {
      height: 100%;
      width: 70px;
      padding: 25px;
    }
    
  
    .nav-links-container {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    
    

    
  
      .nav-link {
        padding: 10px 15px;
        cursor: pointer;
        color: black;
        
      }

    
      
    
    
    }
  }
  